// component styles are encapsulated and only applied to their components
* {
  color: #FFEF00;
}
h3{
  text-align: left;
  margin: .5em 3em;
  color: #FFF;
}
pre{
  text-align: left;
  padding: 1em;
  margin: 0 3em;
  background-color: #FFF;
  color: #333;
  font-size: 16px;

}
